
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  
  .login-box {
    width: 480px; /* Adjust the width as desired */
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 480px; /* Adjust the height as desired */
  }
  
  .login-box h1 {
    font-size: 28px;
    margin-bottom: 24px;
  }
  
  .login-box input[type="text"],
  .login-box input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #dddfe2;
    border-radius: 4px;
  }
  
  .login-box button {
    width: 100%;
    padding: 12px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-box button:hover {
    background-color: #145da0;
  }
  
  
  .login-box p {
    margin-top: 16px;
    font-size: 14px;
    color: #1c1e21;
    cursor: pointer;
    transition: color 0.5s ease;
  }
 
  .login-box p:hover{
    color: #166fe5;
  }
  
 
  