
<div class="container">
  <div class="login-box">
    <h1>Log In</h1>
    <form  [formGroup]="userForm">
      <input type="email" placeholder="Email" formControlName='email' id="email">
      <input type="password" placeholder="Password" formControlName="password" id="password">
      <button type="submit" [disabled]="!userForm.valid" (click)="login()">Log In</button>
    </form>
    <p class="forgot">Forgot password?</p>
    <p class="forgot" (click)="navigateRegister()">New member? <b>Register</b></p>
  </div>
</div>
