<div>
    <h1>
        Produits
    </h1>
    <div class="user-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th *ngFor="let key of keys" scope="col">{{key}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products" class="align-middle">
                    <td>{{product.id}}</td>
                    <td>{{product.ref}}</td>
                    <td>{{product.type}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.prix}}</td>
                    <td>{{product.image}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation" class="last-item ">
        <ul class="pagination justify-content-center ">
            <li class="page-item">
                <a class="page-link text-black" href="javascript:;" aria-label="Previous" (click)="getToPage(page-1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" ><a class="page-link text-black disabled" href="javascript:;" >{{page + 1}}</a></li>
            <li class="page-item" >
                <a class="page-link text-black" href="javascript:;" aria-label="Next" (click)="getToPage(page+1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>