.wrapper{
    height: 100vh;
}
.admin-dashboard-header{
    background-color: #3e60b0;
    padding: 30px 30px;
    color: white;
}
.container{
    width: 100vw;
    display: grid;
    grid-template-columns: 300px 1fr;
    margin: 0;
    padding: 0;
    gap: 50px;
}

.container-content{
    height: 100vh;
    position: relative;
}