<div class="container">
    <div class="register-box">
      <h1>Register</h1>
      <form>
        <input type="text" placeholder="UserName" required>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Password" required>
        <input type="password" placeholder="Confirm Password" required>
        <button type="submit">Register</button>
      </form>
      <p class="forgot" (click)="navigateLogin()">Already have an account? <b>Log In</b></p>
    </div>
  </div>
