.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 79px;
}

.logo{
    all:unset;
    color: #03008D;
    font-family: Noto Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    cursor: pointer;
}

.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    position: relative;
}

.nav-link{
    all: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 17px;
}
.nav-link li{
    all: unset;
    color: #010027;
    text-align: center;
    font-family: Noto Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    cursor: pointer;
}

.nav-link li:last-child{
    text-decoration-line: underline;
}


.panier{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.dropdown{
    position: relative;
    padding: 0px;
}
.link{
    cursor: pointer;
}

.dropdownMenu{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 368px;
    height: 79px;
    gap: 20px;
    padding: 10px;
    pointer-events: none;
    border-radius: 6px;
    background: #D8D8EE;
    opacity: 0;
    transition: opacity 0.15s ease-in-out,transform 0.15s ease-in-out;
}

.dropdownMenu img{
    cursor: pointer;
    object-fit: contain;
    width: 100%;
    height: 100% ;
}

.show-desktop{
    display: none;
}
.mobile {
    all: unset;
    display: block;
    position: absolute;
    background-color: #D8D8EE;
    z-index: 10;
    top:65px;
    border-radius: 6px;
    display: flex;
    padding: 20px;
    align-items: flex-start;
    gap: 20px;
}
.mobile li{
    all: unset;
    color: #03008D;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}
.block{
    display: none;
}
.mobile-version{
    display: none;
}
/* .mobile .nav-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 33px;
} */

/* .mobile li{
    font-size: 20px;
} */
.show-mobile{
    align-self: flex-end;
    padding: 10px;
    cursor: pointer;
}
.nav-link-mobile{
    display: none;
}
.mobile .panier{
    display: none;

}
.showedMenu{
    opacity: 1;
    transform: translateY(10px);    
    pointer-events: visible;
}
.search::placeholder,
.search{
    color: white;
}

.connexion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.logged{
    
    border-radius: 50%;
    overflow: hidden;
    background-color: #D8D8EE;
    padding: 5px 10px;
    color: #010027;
}

.button{
    all: unset;
    width: 90px;
    height: 34.933px;
    background-color: #03008D;
    text-align: center;
    color: #D8D8EE;
    font-family: Outfit;
    font-size: 15px;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
}
.nav-dropdown{
    cursor: pointer;
    display: none;
}



@media (max-width: 768px) {
    /* Hide the regular navigation menu on mobile */
    .container-nav{
        gap: 0;
        justify-content: space-around;
    }
    .mobile-version{
        display: block;
    }
    .nav-bar{
        gap: 10px;
    }

    .nav-link{
        display: none;
    }
    /* Show the mobile navigation menu on mobile */
    .nav-dropdown{
      display: block;
      /* Add any desired styles for the mobile menu, like position, colors, etc. */
    }
 
    .mobile .dropdownMenu{
        top: 55px;
    }
  }

  @media (max-width: 375px) {
    .logo{
        font-size: 20px;
    }
    .mobile{
        left: 0;
        height: 100vh;
        flex-direction: column;
        width: 25vw;
    }
    .mobile .dropdownMenu{
        top: unset;
        width: 80vw;
    }
  }
  