<div class="wrapper">
    <div class="panier-title">
        <h1>panier</h1>
      </div>
      <div class="product">
        <div class="paniers">
            <div class="panier" *ngFor="let produit of produits">
                <div class="image"> 
                    <img [src]="produit.img" alt="">
                </div>
                <div class="desc">
                    <div class="recap-sub">
                        <h5>{{produit.desc}}</h5>
                        <span>x</span>
                    </div>
                    <span>quantite:5</span>
                    <span>$80</span>
                </div>
            </div>
        </div>
            <div class="recap">
                <span><b>Récapitulatif de la commande</b></span>
                <div class="recap-sub">
                    <span>subtotal</span>
                    <span>$99</span>
                </div>
                <div class="recap-sub">
                    <span>shipping</span>
                    <span>free</span>
                </div>
                <hr>
                <div class="recap-sub">
                    <span>total</span>
                    <span>$99</span>
                </div>
                <button class="checkout">Checkout</button>
            </div>
        
    </div>
</div>
