<div class="wrapper">
    <div class="panier-title">
        <h1>panier</h1>
      </div>
      <h1 *ngIf="produits?.length==0" class="product text-danger">panier vide</h1>
      <div class="product" *ngIf="produits?.length">
        <div class="paniers">
            <div class="panier" *ngFor="let produit of produits">
                <div class="image"> 
                    <img [src]="produit.image" alt="">
                </div>
                <div class="desc">
                    <div class="recap-sub">
                        <h5>{{produit.description}}</h5>
                        <span>x</span>
                    </div>
                    <span>quantite:{{getQuantity(produit.id)}}</span>
                    <span>${{produit.prix}}</span>
                </div>
            </div>
        </div>
            <div class="recap">
                <span><b>Récapitulatif de la commande</b></span>
                <div class="recap-sub">
                    <span>subtotal</span>
                    <span>${{prix}}</span>
                </div>
                <div class="recap-sub">
                    <span>shipping</span>
                    <span>free</span>
                </div>
                <hr>
                <div class="recap-sub">
                    <span>total</span>
                    <span>{{prix}}</span>
                </div>
                <a class="checkout" routerLink="/checkout" (click)="clearPanier()">Checkout</a>
            </div>
        
    </div>
</div>
