.main{
  margin: 45px 0;
}
.panier-title{
  background: #D8D8EE;
  padding: 30px 70px;
  border-radius: 7px; 
}
.panier-title h1{
  color: #03008D;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 95%; /* 19px */
  letter-spacing: 3.8px;
  text-transform: uppercase;
}

/* .no-article{
  width: 100%;
  margin: 100px auto;
  text-align: center;
  color: #010027;
  font-family: Outfit;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.product{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 20px 100px;
    gap: 100px;
}
.paniers{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 2;
} */


/* .desc{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}
.recap{
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 3;
} */
/* .recap-sub{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recap-sub *{
    margin: 0;
}
.checkout {
    display: inline-block;
    padding: 10px 20px;
    background-color: black; 
    color: #ffffff;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .checkout:hover {
    background-color: rgb(75, 73, 73);
  }
  
  .checkout:focus {
    outline: none;
  } */

  .cart-main{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
  }
  .product-info{
    grid-column: 1/3;
  }
  .empty{
    text-align: center;
    margin: 150px 20px;
    font-family: outfit;
    text-transform:uppercase ;
  }

   thead{
    background-color: #03008D;
  }

  .table-header * {
    padding: 26px 20px;
    color: #FFF;
    font-family: Outfit;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 100;
    line-height: 95%; 
  }

  dt{
    display: inline;
  }
  .price,
  .subtotal,
  .quantity,
  .action{
    text-align: center;
  }
  .image-container{
    width: 85.718px;
    height: 101px;
    position: relative;
  }

  .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .delete{
    cursor: pointer;
  }
  .sub-description{
    display: flex;
    flex-direction: column;
    padding: 32px 20px;
  }
  .sub-description h4{
    color: #000;
    font-family: Outfit;
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: 95%; /* 11.4px */
    text-transform: uppercase;
  }
  .price,
  .subtotal,
  .quantity,
  .action,
  .sub-description dt,dd{
    color: #000;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 95%; /* 11.4px */
    text-transform: uppercase;
  }

  .sub-description dl div{
    display: flex;
    flex-wrap: wrap;
  }

  .counter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .counter-value {
    color: #000;
    font-family: Outfit;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 10px;
  }
  
  .minus,
  .plus {
    width: 30px;
    height: 30px;
    background-color: #D8D8EE;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  
  .minus:hover,
  .plus:hover {
    background-color: #e1e1eb;
  }
  
  .minus:active,
  .plus:active {
    background-color: #e1e1eb;
  }

  .summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39px 33px;
    gap: 30px;
    background: #D8D8EE;
    height: 400px;
  }
  .summary-title{
    color: #03008D;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 95%; /* 19px */
    text-transform: uppercase;
  }
  .lign{
    width: 100%;
    height: 1px;
    background: #03008D;
  }
  .summary-subtotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #03008D;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 95%; /* 10.45px */
    text-transform: capitalize;
  }
  .total-order{
    width: 100%;
  }
  .order-title{
    color: #03008D;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 95%; /* 10.45px */
    text-transform: uppercase;
  }
  .total-prix{
    color: #03008D;
    font-family: Outfit;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 95%; /* 28.5px */
    text-transform: uppercase;
  }
  .order-button{
    all: unset;
    padding: 15px 78px;
    width: 50%;
    background: #03008D;
    text-align: center;
    color: #FFF;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 95%; /* 14.25px */
    text-transform: uppercase;
  }

  @media (max-width:1200px) {
    .cart-main{
      padding-top: 20px;
      display: flex;
      flex-direction: column;
    }
    .table-header * {
      padding: 26px 20px;
    }

    table{
      width: 100%;
    }
    .order-title{
      font-size: 25px;
    }
    .summary-subtotal{
      font-size: 25px;
    }
    .total-prix{
      font-size: 40px;
    }
    .order-button{
      width: 70%;
      font-size: 25px;
    }

  }

  @media (max-width:900) {
  }