<div class="main">
    <h1 class="header">
        Manage Products
    </h1>
    <div class="button" (click)="addProduct()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M15.0391 8C15.0391 8.41421 14.7085 8.75 14.3008 8.75H8.39453V14.75C8.39453 15.1642 8.06399 15.5 7.65625 15.5C7.24851 15.5 6.91797 15.1642 6.91797 14.75V8.75H1.01172C0.603977 8.75 0.273438 8.41421 0.273438 8C0.273438 7.58579 0.603977 7.25 1.01172 7.25H6.91797V1.25C6.91797 0.835786 7.24851 0.5 7.65625 0.5C8.06399 0.5 8.39453 0.835786 8.39453 1.25V7.25H14.3008C14.7085 7.25 15.0391 7.58579 15.0391 8Z" fill="white"/>
          </svg>
        <span>Add Product</span>
    </div>
    <div class="table-container">
        <table >
            <thead>
                <tr>
                    <th *ngFor="let key of keys" scope="col">{{key}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products" class="align-middle">
                    <td>{{product.id}}</td>
                    <td>{{product.ref}}</td>
                    <td>{{product.type}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.prix}}</td>
                    <td>{{product.image}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="navigation">
        <span>
            Showing 1 to 10 of 50 entries
        </span>
        <div class="pagination">
            <div class="pages"><svg xmlns="http://www.w3.org/2000/svg" width="11" height="16" viewBox="0 0 11 16" fill="none">
                <path d="M6.93408 11.7333L4.27791 8L6.93408 4.26666" stroke="#343A40" stroke-linecap="round" stroke-linejoin="round"/>
                </svg></div>
            <span>1</span>
            <div class="pages"><svg xmlns="http://www.w3.org/2000/svg" width="11" height="16" viewBox="0 0 11 16" fill="none">
                <path d="M4.08691 11.7333L6.7431 8L4.08691 4.26666" stroke="#343A40" stroke-linecap="round" stroke-linejoin="round"/>
                </svg></div>
        </div>
        <!-- <nav aria-label="Page navigation" class="last-item ">
            <ul class="pagination justify-content-center ">
                <li class="page-item">
                    <a class="page-link text-black" href="javascript:;" aria-label="Previous" (click)="getToPage(page-1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" ><a class="page-link text-black disabled" href="javascript:;" >{{page + 1}}</a></li>
                <li class="page-item" >
                    <a class="page-link text-black" href="javascript:;" aria-label="Next" (click)="getToPage(page+1)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav> -->
        </div>
</div>