.side-bar{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    min-height: 100%;
}

.route {
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    color: #fff; /* White text color */
    text-align: left;
    background-color: transparent; /* Transparent background */
    background: #03008D;
    border: none;
    border-bottom: 1px solid #3e60b0; /* Bottom border for separation */
    cursor: pointer;
    display: block;
  }


  /* Hover Effect */
  .route:hover {
    background: #7977D8;
    color: white;
  }

  .focused{
    background: #7977D8;
  }

  .product-logo{
    width: 15px;
    height: 15.008px;
  }
  span{
    margin-left: 5px;
  }
