
    <div class="slider">
        <h1>Boutique</h1>
        <p>
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>

    <div class="items main bg-body-secondary">
        <div class=" side-bar">
            <div class="filter">
                <h5 >Filters</h5>
                <button class="btn-link btn" (click)="clearFilter()">Clear Filter</button>
            </div>
            <div class="radio-box">
                <h4>Categories</h4>
                <div class="form-check" *ngFor="let checkbox of checkboxes">
                    <label  class="form-check-label">
                        {{ checkbox.label }}
                    </label>
                    <input type="checkbox" class="form-check-input" [(ngModel)]="checkbox.checked" (change)="onCheckboxChange()">
                </div>
            </div>
        </div>
        <div class="produit">
            <div class="trier-par"> 
              <li class="nav-item dropdown">
                <button class="link nav-link" (click)="showDropdown()">Trier par <b>Price    </b> <i class="arrow down"></i></button>
                <ul [ngClass]="{'dropdownMenu': true, 'showedMenu': isDropdown}">
                    <!-- this "#date" is a way of referencing to an element on the template -->
                    <li><button value="date" class="dropdown-item" (click)="handleTrier(date.value)" #date>Par date</button></li>
                    <li><button value="categorie" class="dropdown-item" (click)="handleTrier(categorie.value)" #categorie>Par categorie</button></li>
                    <li><button value="brand" class="dropdown-item" (click)="handleTrier(brand.value)" #brand>Par brand</button></li>
                </ul>
            </li>               
            </div>
        <div class="wrapper">
            <div *ngIf="isLoading">loading</div>
            <div *ngFor="let item of produits">
                <div class="product card" (click)="navigateToRoute(item.id)">
                  <img [src]="item.image" class="card-img-top image" alt="Product Image">
                  <div class="card-body">
                    <h6 class="card-title">{{ item.description }}</h6>
                    <span class="text-primary">{{item.prix}}$</span>
                  </div>
                </div>
            </div>
            <nav aria-label="Page navigation" class="last-item">
                <ul class="pagination justify-content-center">
                    <li class="page-item" >
                        <a class="page-link" href="javascript:;" aria-label="Previous" (click)="getToPage(page-1)">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" ><a class="page-link" href="javascript:;">{{page + 1}}</a></li>
                    <li class="page-item" >
                        <a class="page-link" href="javascript:;" aria-label="Next" (click)="getToPage(page+1)">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
