<div class="wrapper">
  <span *ngIf="isLoading; else loading" >loading!!</span>
  <ng-template #loading>
    <div class="product-title">
      <h1>{{product?.description}}</h1>
    </div>
    <div class="product">
      <div class="image-container">
        <img [src]="product?.image" alt="" class="image">
      </div>
      <div class="desc">
        <h4>{{product?.description}}</h4>
        <span>{{product?.prix}}$</span>
        <p>Lorem ipsum dolor sit amet, 
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="counter">
          <button class="minus" (click)="onMinusButton()">-</button>
          <div class="counter-value">{{counter}}</div>
          <button class="plus" (click)="onPlusButton()">+</button>
        </div>
        <input type="text" placeholder="remarque">
        <button class="ajouter" (click)="ajouterPanier(product?.id)">ajouter</button>
      </div>
    </div>
  </ng-template>
</div>