<div class="wrapper">
  <div class="product-title">
    <h1>{{produit?.description}}</h1>
  </div>
  <div class="product">
    <div class="image-container">
        <img [src]="produit?.image" alt="" class="image">
    </div>
    <div class="desc">
        <h4>{{produit?.description}}</h4>
        <span>$99</span>
        <p>Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="counter">
            <button class="minus" (click)="onMinusButton()">-</button>
            <div class="counter-value">{{counter}}</div>
            <button class="plus" (click)="onPlusButton()">+</button>
          </div>
        <input type="text" placeholder="remarque">
        <button class="ajouter" (click)="ajouterPanier(produit?.id)">ajouter</button>
    </div>
  </div>
</div>