.slider, .arrivage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.slider{
height: 400px;
padding: 50px;

}
.arrivage{
    height: 673px;
}
.items:nth-child(1){
    background-color: black;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    padding: 0  100px  0 100px;
    max-height: 400px;
  }

  .product{
    cursor: pointer;
  }
  .image{
    aspect-ratio: 3/2;
    object-fit: contain;
  }

  