<div class="text-center">
    <div class="slider">
        <h1>Better clothing for the planet</h1>
        <p>
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
    <div class="bg-secondary arrivage">
        <h1>Nos derniers arrivages</h1>
        <span>Shop</span>
        <div class="row gap-5 items">
            <div class="card " style="width: 226px;height: 335px;padding: 10px;" *ngFor="let item of items" >
                <img [src]="item.img"  alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{item.desc}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>