<div class="text-center">
    <div class="slider">
        <h1>Better clothing for the planet</h1>
        <p>
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
    <div class="bg-secondary arrivage">
        <h1>Nos derniers arrivages</h1>
        <span>Shop</span>
        <div class="wrapper">
            <div *ngFor="let item of items">
              <div class="product card" (click)="navigateToRoute(item.id)">
                <img [src]="item.img" class="card-img-top" alt="Product Image">
                <div class="card-body">
                  <h5 class="card-title">{{ item.desc }}</h5>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>