<footer >
        <div class="footer-wrapper">
            <a class="logo">DigitalAZ</a>
            <div class="contact">
                <h5>contact</h5>
                <ul class="list-unstyled" >
                    <li>
                        <a href="" class="" >email</a>
                    </li>
                    <li>
                        <a href="" class="">instagram</a>
                    </li>
                    <li>
                        <a href="" class="">linked in</a>
                    </li>
                    <li>
                        <a href="" class="">twitter</a>
                    </li>
                </ul>
            </div>
            <div class="news-letter">
                <h2 class="email-title">join our News Letter</h2>
                <input type="text" placeholder="Email address" class="input-email">
            </div>
        </div>
        <div class="footer-gradient"></div>
</footer>