
.footer-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: 93px 0 93px 0;
}

.footer-gradient{
    position: absolute;
    left: 0;
    background: linear-gradient(147deg, #393792 0%, #A6A6C8 100%);
    width: 100%;
    height: 22px;
}
.logo{
    all:unset;
    color: #03008D;
    font-family: Noto Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    cursor: pointer;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.list-unstyled a{
    all: unset;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 95%; /* 19px */
    text-transform: capitalize;
}

.news-letter{
    grid-column: 3 / span 2;
}

.email-title{
    color: #010027;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 102%; /* 20.4px */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.input-email{
    all: unset;
    width: 270px;
    border-radius: 42px;
    background: #D8D8EE;
    padding: 5px 20px;
}
.input-email::placeholder{
    opacity: 0.3;
}

@media (max-width: 1000px) {

    footer *{
        font-size: 15px;
        
    }
    .footer-wrapper{
        margin-bottom: 10px;
        gap: 10px;
    }
    .input-email{
        width: 100px;
    }
    .input-email::placeholder{
        opacity: 0.3;
        font-size: 10px;
    }
    .list-unstyled a{
     font-size: 10px;
    }
}